*{
    padding: 0;
    margin: 0;
}
.bosh_menu{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #536DFD ;
    overflow: hidden;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}
.dumaloq{
    position: absolute;
    top: -11vw;
    right: -14vw;
    width:50vw;
    height: 50vw;
    min-height: 300px;
    min-width: 300px;
    background: #FFD401;
    border-radius: 50%;

}
.header_text{
    width: 43%;
    min-width: 300px;

}
@media (max-width:666px){
    .header_card{
        margin-top: 50px;
    }
}
.header_text h2{
    font-size: 3vw;
    color: #FFFFFF;
    text-align: left;
    margin-left: 10%;
    position: relative;
    z-index: 12;
}
.header_text span{
    color: #FFD401;
}
.header_text p{
    font-size:1.3vw ;
    color: #FFFFFF;
    text-align: left;
    margin-left: 10%;
    margin-top: 5%;
}
.header_text .header_input{
    width:80%;
    /* height: 40px; */
    margin-top: 30px;
    display: flex;
    align-items: center;
    margin-left: 10%;
    background-color: white;
    border-radius: 4px;
}
.header_text .header_input input{
    width: 90%;
    height: 40px;
    border: none;
    margin-right: 20px;
    padding-left: 15px;
    border-radius: 8px;
    outline: none;
}
.header_card{
    position: relative;
    z-index: 212;
    gap: 10px;
}

.header_card{
    width: 40%;
    min-width: 300px;
    position: relative;
    z-index: 122;
    display: grid;
    grid-template-columns:auto auto ;
    /* display: flex; */
    align-items: center;
    margin-left: 10%;
}
.card1{
    width: 400px;
    min-width: 250px;
    height: 180px;
    background-color: white;
    position: relative;
    border-radius: 4px;
}
.as{
    padding-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.card1 h1{
    font-size: 14px;
line-height: 17px;
color: #FFFFFF;
padding: 3px 5px 3px 5px;
background-color: #FFB800;
border-radius: 2px;
}
.hh1{
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    padding: 3px 5px 3px 5px;
    background-color: #11BDF3 !important;
    border-radius: 2px;
}
.hh2{
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    padding: 3px 5px 3px 5px;
    background-color:#10C8A0 !important;
    border-radius: 2px;
}
.hh3{
    background-color: #EB3B3B !important;

}
.as h2{
font-size: 20px;
line-height: 24px;
color: #2E2E2E;
font-size: 16px;
}
.as span{
    font-size: 12px;
    font-weight: 400;
}
.card1 h3{
    font-size: 20px;
    line-height: 24px;
    color: #2E2E2E;
    text-align: left;
    margin-top: 20px;
    margin-left: 15px;
}
.card1 span{
    font-size: 14px;
    line-height: 17px;
    color: #9DA7BB;
}
#card1{
    margin-left: 10%;
}
#card2{
    margin-left: 10%;
}
.yulduzcha{
color: #FFD401;
margin-bottom: 12px;
}
.yulduz1{
    margin-bottom: 12px;
    margin-right: 7px;
    color: grey;
}
.yulduz{
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-top: 20px;
}
.onga{
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    padding-bottom: 3px;
    color: #536DFD;
    background-color: white;
    border: 1px solid #9DA7BB;
    position: absolute;
    bottom: 20px;
    right: 20px;
}
@media (max-width:600px){
    .header_text h2{
        font-size: 23px;

    }
    .header_text p{
        font-size: 15px;
    }
}
@media (max-width:500px){
    .dumaloq{
        display: none;
    }
    .card1{
        margin-left: -30px;
        width: 300px;
        gap: 10px;
        
    }
    .card1 h3{
        font-size: 12px;
    }
   
}
@media(max-width:370px){
    #card1{
        margin-left: -5%;
    }
    #card0{
       margin-left: 100px;
    }
    #card2{
    margin-left: 100px;
    }
}
.divbig{
    width: 100%;
}
.divbigh1{
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    margin-top: 70px;
    color: #2E2E2E;

}
.div1{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.div1card1{
    position: relative;
    width: 500px;
    min-width: 300px;
    /* background-color: red; */
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding-bottom: 30px;
    margin-top: 50px;
}
.div1card1:hover{
    box-shadow: 0px 12px 45px rgba(83, 109, 253, 0.25);
}
.div1card1 img{
    width: 100%;

}
.div1card1 h1{
    font-size: 24px;
    line-height: 29px;
    color: #2E2E2E;
    text-align: left;
    margin-left: 5%;
    padding-top: 10px;
}
.div1card1 .yulduz{
    margin-left: 5%;
}
.yulduz span{
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    color: #9DA7BB;
    margin-top: -15px;
    margin-left: 10px;
}
.pdiv p{
    font-size: 14px;
    line-height: 17px;
    color: #9DA7BB;
   
    
}
.pdiv{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: left;
}
.h1div{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: left;
    margin-top: -20px;
}
.h1div h2{
    font-size: 24px;
    line-height: 29px;
    color: #2E2E2E;
}
.h1div span{
    font-size: 16px;
    line-height: 17px;
    font-weight: 400;
    color: #5d626c;
}
.onga1{
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: #536DFD;
    background-color: white;
    border: 1px solid #9DA7BB;
    position: absolute;
    bottom: 35px;
    right: 20px;
    padding-bottom: 3px;

}
.onga1:hover{
    background-color: #536DFD;
    color: white;
}
.onga:hover{
    background-color: #536DFD;
    color: white;
}


.div1card2{
    position: relative;
    width: 500px;
    min-width: 300px;
    /* background-color: red; */
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding-bottom: 30px;
    margin-top: 50px;
}
.div1card2:hover{
    box-shadow: 0px 12px 45px rgba(83, 109, 253, 0.25);
}
.div1card2 img{
    width: 100%;

}
.div1card2 h1{
    font-size: 24px;
    line-height: 29px;
    color: #2E2E2E;
    text-align: left;
    margin-left: 5%;
    padding-top: 10px;
}
.div1card2 .yulduz{
    margin-left: 5%;
}
.mm1{
    position: absolute;
    left:15px;
    top: 15px;
}
.mm2{
    position: absolute;
    left:15px;
    top: 15px;
}
.mm2 h2{
    font-size: 16px;
    line-height: 17px;
    color: #FFFFFF;
    padding: 2px 30px 2px 30px !important;
    background-color: #11BDF3 !important;
    border-radius: 2px;
}
.mm1 h2{
    font-size: 16px;
    line-height: 17px;
    color: #FFFFFF;
    padding: 2px 20px 2px 20px !important;
    background-color: #10C8A0 !important;
    border-radius: 2px;
}
.div2{
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 70px;

}
.div1card3{
    position: relative;
    width: 350px;
    min-width: 300px;
    /* background-color: red; */
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding-bottom: 30px;
    margin-top: 50px;
}
.div1card3:hover{
    box-shadow: 0px 12px 45px rgba(83, 109, 253, 0.25);
}
.div1card3 img{
    width: 100%;

}
.div1card3 h1{
    font-size: 24px;
    line-height: 29px;
    color: #2E2E2E;
    text-align: left;
    margin-left: 5%;
    padding-top: 10px;
}
.div1card3 .yulduz{
    margin-left: 5%;
}
.h1div h2{
    font-size: 18px;
    line-height: 29px;
    color: #2E2E2E;
}
.div1card4{
    position: relative;
    width: 350px;
    min-width: 300px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding-bottom: 30px;
    margin-top: 50px;
    
}
.div1card4:hover{
    box-shadow: 0px 12px 45px rgba(83, 109, 253, 0.25);
}
.div1card4 img{
    width: 100%;

}
.div1card4 h1{
    font-size: 24px;
    line-height: 29px;
    color: #2E2E2E;
    text-align: left;
    margin-left: 5%;
    padding-top: 10px;
}
.div1card4 .yulduz{
    margin-left: 5%;
}
.mm3{
    position: absolute;
    left:15px;
    top: 15px;
    /* background-color:#11BDF3; */
}
.mm3 h2{
    font-size: 16px;
    line-height: 17px;
    color: #FFFFFF;
    padding: 2px 30px 2px 30px !important;
    background-color: #EB3B3B !important;
    border-radius: 2px;
}

.mm4{
    position: absolute;
    left:15px;
    top: 15px;
    /* background-color:#11BDF3; */
}
.mm4 h2{
    font-size: 16px;
    line-height: 17px;
    color: #FFFFFF;
    padding: 2px 30px 2px 30px !important;
    background-color:#FFE600 !important;
    border-radius: 2px;
}
.divbig2{
    width: 100%;
    background: #E5E5E5;
    
}
.div12{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.div12 h1{
    font-size: 30px;
line-height: 36px;
text-align: center;
font-weight: 700;
color: #2E2E2E;
margin-top: 50px;
margin-left: 5%;
}
.div12 button{
    font-size: 16px;
line-height: 19px;
color: #536DFD;
padding: 2px 15px 2px 15px;
border:1px solid #536DFD;
border-radius: 4px;
margin-right: 5%;
}
.divcards{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
     margin: auto;
     margin-top: 50px !important;
}
.divcards2{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    margin-top: 30px !important;
    margin-bottom: 50px !important;
}
.carddiv{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 200px;
    height: 60px;
    background-color: white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin: auto;
    margin-top: 10px !important;
}
.carddiv h2{
    font-size: 20px;
line-height: 24px;
text-align: center;
color: #2E2E2E;
}
.divcards3{
    margin-top: 20px !important;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    /* padding-bottom: 30px; */
}
.divcards3 h3{
    font-size: 20px;
line-height: 24px;
text-align: center;
color: #9DA7BB;
padding-bottom: 10px;
transition: all 0.3s;
border-bottom: 3px solid #E5E5E5;
}
.divcards3 h3:hover{
color: #2E2E2E;
border-bottom: 3px solid #536DFD;

}
@media(max-width:850px){
    .divcards3 h3{
        font-size: 12px !important;
    }
}

@media(max-width: 548px) {
    .divcards3 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        overflow-x: scroll;
    }

    .divcards3 h3{
        /* width: 300px; */
        font-size: 16px !important;
        padding-right: 10px;
    }
}

.divbig3{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card11{
    position: relative;
    width: 250px;
    /* min-width: 300px; */
    /* background-color: red; */
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding-bottom: 30px;
    margin-top: 50px;
}
.card11:hover{
    box-shadow: 0px 12px 45px rgba(83, 109, 253, 0.25);
}
.card11 img{
    width: 100%;

}
.card11 h1{
    font-size: 16px;
    line-height: 19px;
    color: #2E2E2E;
    text-align: left;
    margin-left: 5%;
    padding-top: 10px;
}
.card11 .yulduz{
    margin-left: 5%;
    margin-top: -10px;
}
.card11 .h1div span{
        font-size: 12px;
        line-height: 17px;
        font-weight: 400;
        color: #5d626c;

}
.h1div h3{
    font-size: 14px;
    line-height: 29px;
    color: #2E2E2E;
    margin-left: 10px;
}
.pdiv1 p{
    font-size: 14px;
    line-height: 17px;
    color: #9DA7BB;
    margin-left: 10px;
}
.pdiv1{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: left;
}
.card11:hover h1{
    font-size: 16px;
line-height: 19px;
color: #536DFD;
}
.divbig4{
    background: url(../img/Rectangle\ 13.png);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 50px;
}
.divbig4 h1{
    font-size: 40px;
line-height: 48px;
font-weight: 350;
color: #FFFFFF;
display: flex;
padding-top: 10%;
text-align: center;
justify-content: center;
}
@media(max-width:900px){
    .divbig4 h1{
        font-size: 30px;
    }
}
@media(max-width:636px){
    .divbig4 h1{
        font-size: 23px;
        line-height: 25px;
    }
}
@media(max-width:500px){
    .divbig4 h1{
        font-size: 18px;
    }
    .div12 h1{
        font-size: 20px;
        /* line-height: 25px; */
        text-align: center;
        font-weight: 700;
        color: #2E2E2E;
        margin-top: 50px;
        /*      argin-left: 5%; */
        margin-top:0px;
    }
    .div12{
        display: flex;
        align-items: center;
        justify-content: space-around;
        /* margin-top: 30px; */
    }
}
@media(max-width:400px){
    .divbig4 h1{
        font-size: 12px;
        line-height: 18px;

    }
    .div12 {
        display: flex;
        align-items: center;
        justify-content: space-around;
    
    }
    .div12 h1{
        font-size: 16px;
        
    }
}
.divbig5{
    width: 100%;
    background: #E5E5E5;
}
.divbig5 h1{
    font-size: 30px;
line-height: 30px;
color: #2E2E2E;
}
.slide{
    position: relative;
    width: 700px;
    min-width: 300px;
    background-color: white;
    margin: auto;
    margin-top: 100px;
}
.slide h2{
    font-size: 20px;
line-height: 24px;
text-align: center;
color: #2E2E2E;
padding-top: 100px;
}
.slide p{
    font-size: 18px;
line-height: 21px;
/* identical to box height */
text-align: center;
color: #2E2E2E;
margin-top: 20px;
}
.slide img{
    position: absolute;
    top: -25%;
    left: 40%;
}
