.d-flex button{
    width: 79px;
    height: 28px;
      font-size: 12px;
      line-height: 14px;
      text-transform: uppercase;
      color: #FFFFFF;
    background: #536DFD;
      border-radius: 4px;
      border: none;
  }
  .d-flex select{
    width: 88px;
    height: 30px;
    align-items: center;
    text-align: center;
      margin-right: 42px;
      border: 1px solid #9DA7BB;
      border-radius: 4px;
      font-size: 12px;
      line-height: 14px;
      text-transform: uppercase;
      color: #9DA7BB;
  }
  
  .all{
    width: 154px;
    height: 30px;
    font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #536DFD;
  margin-left: 80px;
  align-items: center;
  border: 1px solid #9DA7BB;
  border-radius: 4px;
  background: white;
  }
  @media(max-width:990px){
    .all{
      margin-left: 0px ;
    }
  }
  .d-flex1 select{
        width: 150px;
        height: 30px;
        align-items: center;
        text-align: center;
        margin-right: 42px;
        border: 1px solid #9DA7BB;
        border-radius: 4px;
        font-size: 12px;
        line-height: 14px;
        text-transform: uppercase;
        color: #9DA7BB;
  }
  .select1{
    width: 150px;
    border: none;
    height: 30px;
    align-items: center;
    text-align: center;
      margin-right: 42px;
      border: 1px solid #9DA7BB;
      border-radius: 4px;
      font-size: 12px;
      line-height: 14px;
      text-transform: uppercase;
      color: #9DA7BB;
    
  }
  /* @media(max-width:991px){
    .select1{
        margin-left: -500px;
    }
} */